@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap');
.container{
  display: flex;
  flex-direction: row;

}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 71.2px;
  font-family: 'Roboto Slab', serif;
}
#logo{
  margin-top: 56.96px;
}
#home{
  margin-top: 171.325px;
}
#signal{
  margin-top: 31.951px;
}
#flag{
  margin-top: 31.862px;
}
#magazine{
  margin-top: 32.752px;

}
#notes{
  margin-top: 172.5621px;
;
}
#elipce1{
  width: 28px; 
  height: 28px;
  margin-top: 30.2689px;
}